{
  "openapi": "3.1.0",
  "info": {
    "title": "Nox Setup API",
    "version": "1.0.0",
    "description": "Agent-oriented API for connecting providers and configuring Nox services."
  },
  "servers": [{ "url": "/" }],
  "security": [{ "bearerAuth": [], "organization": [] }],
  "paths": {
    "/api/integrations/setup": {
      "get": {
        "operationId": "getSetupPlan",
        "summary": "Get resumable setup state and next actions",
        "responses": { "200": { "description": "Current setup plan", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SetupPlan" } } } } }
      }
    },
    "/api/integrations/connections": {
      "get": {
        "operationId": "listConnections",
        "summary": "List provider connection state",
        "responses": { "200": { "description": "Connection registry" } }
      }
    },
    "/api/integrations/connections/{provider}/start": {
      "post": {
        "operationId": "startConnection",
        "summary": "Start a provider connection",
        "description": "Returns a userAction URL for human OAuth approval.",
        "parameters": [{ "$ref": "#/components/parameters/provider" }],
        "requestBody": { "required": false, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StartConnectionBody" } } } },
        "responses": { "200": { "description": "Human action required", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserAction" } } } } }
      }
    },
    "/api/integrations/connections/{provider}/disconnect": {
      "post": {
        "operationId": "disconnectConnection",
        "summary": "Disconnect a provider",
        "parameters": [{ "$ref": "#/components/parameters/provider" }],
        "responses": { "200": { "description": "Disconnected" }, "409": { "description": "Provider-managed disconnect" } }
      }
    },
    "/api/slack/channels": {
      "get": {
        "operationId": "listSlackChannels",
        "summary": "List channels visible to the connected Nox bot",
        "responses": { "200": { "description": "Slack channels" } }
      }
    },
    "/api/integrations/slack/routing": {
      "get": {
        "operationId": "getSlackRouting",
        "summary": "Get service-to-channel routing",
        "responses": { "200": { "description": "Current routes" } }
      },
      "patch": {
        "operationId": "patchSlackRouting",
        "summary": "Partially update service-to-channel routing",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RoutingPatch" } } } },
        "responses": { "200": { "description": "Updated routes" }, "409": { "description": "Slack is disconnected or a channel is unavailable" } }
      }
    },
    "/api/integrations/slack/test": {
      "post": {
        "operationId": "testSlackRoute",
        "summary": "Send a test message through a saved or candidate route",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RouteTest" } } } },
        "responses": { "200": { "description": "Test sent" }, "409": { "description": "No channel configured" } }
      }
    },
    "/api/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List active projects used by feature setup",
        "responses": { "200": { "description": "Projects" } }
      }
    },
    "/api/projects/routing": {
      "get": {
        "operationId": "getProjectRouting",
        "summary": "List NoxConnect projects, repository assignments, and product destinations",
        "responses": { "200": { "description": "Project routing model" }, "403": { "description": "Admin required" } }
      }
    },
    "/api/projects/routing/{projectId}": {
      "put": {
        "operationId": "updateProjectRouting",
        "summary": "Atomically update one project's repositories and named Slack destinations",
        "parameters": [{ "$ref": "#/components/parameters/projectId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProjectRoutingInput" } } } },
        "responses": { "200": { "description": "Project routing updated" }, "400": { "description": "Invalid request body or missing organization context" }, "403": { "description": "Admin required" }, "404": { "description": "Active project not found" }, "409": { "description": "Workspace belongs to another project or channel is unavailable" }, "422": { "description": "Duplicate or unavailable repository selection" } }
      }
    },
    "/api/spots/sites": {
      "get": {
        "operationId": "listNoxSpotSites",
        "summary": "List NoxSpot sites",
        "responses": { "200": { "description": "Sites" } }
      },
      "post": {
        "operationId": "createNoxSpotSite",
        "summary": "Create a NoxSpot site",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NoxSpotSiteCreate" } } }
        },
        "responses": { "201": { "description": "Site created" } }
      }
    },
    "/api/spots/sites/{siteId}": {
      "patch": {
        "operationId": "updateNoxSpotSite",
        "summary": "Update a NoxSpot site including its channel override",
        "parameters": [{ "$ref": "#/components/parameters/siteId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NoxSpotSitePatch" } } } },
        "responses": { "200": { "description": "Site updated" } }
      },
      "delete": {
        "operationId": "deleteNoxSpotSite",
        "summary": "Delete a NoxSpot site and its screenshots",
        "parameters": [{ "$ref": "#/components/parameters/siteId" }],
        "responses": { "200": { "description": "Site deleted" } }
      }
    },
    "/api/spots/public/v1/sites/{siteId}/config": {
      "get": {
        "operationId": "getPublicNoxSpotConfig",
        "summary": "Get effective public widget configuration for the request origin",
        "security": [],
        "servers": [{ "url": "https://api.noxspot.dev" }],
        "parameters": [{ "$ref": "#/components/parameters/siteId" }],
        "responses": {
          "200": { "description": "Effective public widget configuration" },
          "403": { "description": "Origin is not enabled" },
          "404": { "description": "Site not found" }
        }
      }
    },
    "/api/spots/public/v1/reports": {
      "post": {
        "operationId": "submitPublicNoxSpotReport",
        "summary": "Submit a public NoxSpot capture",
        "security": [],
        "servers": [{ "url": "https://api.noxspot.dev" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NoxSpotReport" } } } },
        "responses": {
          "200": { "description": "Capture queued" },
          "400": { "description": "Invalid capture" },
          "403": { "description": "Origin is not enabled" },
          "413": { "description": "Request body too large" },
          "429": { "description": "Rate limited" },
          "503": { "description": "Delivery unavailable" }
        }
      }
    },
    "/api/spots/public/v1/errors": {
      "post": {
        "operationId": "submitPublicNoxSpotErrors",
        "summary": "Submit a bounded batch of automatic browser errors",
        "security": [],
        "servers": [{ "url": "https://api.noxspot.dev" }],
        "responses": {
          "200": { "description": "Errors queued" },
          "400": { "description": "Invalid error batch" },
          "403": { "description": "Origin is not enabled" },
          "429": { "description": "Rate limited" },
          "503": { "description": "Delivery unavailable" }
        }
      }
    },
    "/api/cues/sources": {
      "get": {
        "operationId": "listNoxCueSources",
        "summary": "List NoxCue sources, linked projects, and ingest keys",
        "responses": { "200": { "description": "Sources" } }
      },
      "post": {
        "operationId": "createNoxCueSource",
        "summary": "Create a NoxCue event source",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NoxCueSourceInput" } } } },
        "responses": { "201": { "description": "Source created" } }
      }
    },
    "/api/cues/sources/{sourceId}": {
      "put": {
        "operationId": "updateNoxCueSource",
        "summary": "Update a NoxCue event source",
        "parameters": [{ "$ref": "#/components/parameters/sourceId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NoxCueSourceInput" } } } },
        "responses": { "200": { "description": "Source updated" } }
      },
      "delete": {
        "operationId": "deleteNoxCueSource",
        "summary": "Delete a NoxCue source and revoke its keys",
        "parameters": [{ "$ref": "#/components/parameters/sourceId" }],
        "responses": { "200": { "description": "Source deleted" } }
      }
    },
    "/api/cues/sources/{sourceId}/keys": {
      "post": {
        "operationId": "createNoxCueKey",
        "summary": "Create a one-time NoxCue browser or server ingest key",
        "description": "The key value is returned once. Do not log it.",
        "parameters": [{ "$ref": "#/components/parameters/sourceId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "additionalProperties": false, "required": ["name", "kind"], "properties": { "name": { "type": "string", "minLength": 1, "maxLength": 80 }, "kind": { "type": "string", "enum": ["publishable", "secret"] } } } } } },
        "responses": { "201": { "description": "Key created" } }
      }
    },
    "/api/cues/sources/{sourceId}/keys/{keyId}": {
      "delete": {
        "operationId": "revokeNoxCueKey",
        "summary": "Revoke a NoxCue ingest key",
        "parameters": [{ "$ref": "#/components/parameters/sourceId" }, { "$ref": "#/components/parameters/keyId" }],
        "responses": { "200": { "description": "Key revoked" } }
      }
    },
    "/api/cues/sources/{sourceId}/features": {
      "get": {
        "operationId": "listNoxCueFeatures",
        "summary": "List standard and registered custom features with health",
        "description": "Linked sources share their project's custom catalog. Unlinked sources have an isolated source catalog.",
        "parameters": [{ "$ref": "#/components/parameters/sourceId" }],
        "responses": { "200": { "description": "Feature catalog and current health" }, "403": { "description": "Admin required" } }
      },
      "post": {
        "operationId": "createNoxCueCustomFeature",
        "summary": "Register a custom NoxCue feature before ingest",
        "parameters": [{ "$ref": "#/components/parameters/sourceId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NoxCueCustomFeatureInput" } } } },
        "responses": { "201": { "description": "Feature registered" }, "400": { "description": "Invalid custom feature" }, "403": { "description": "Admin required" }, "409": { "description": "Feature key already registered in this scope" } }
      }
    },
    "/api/cues/sources/{sourceId}/features/{featureKey}": {
      "put": {
        "operationId": "updateNoxCueCustomFeature",
        "summary": "Update or pause a registered custom feature",
        "parameters": [{ "$ref": "#/components/parameters/sourceId" }, { "$ref": "#/components/parameters/featureKey" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NoxCueCustomFeatureUpdate" } } } },
        "responses": { "200": { "description": "Feature updated" }, "403": { "description": "Admin required" }, "404": { "description": "Feature or source not found" } }
      },
      "delete": {
        "operationId": "deleteNoxCueCustomFeature",
        "summary": "Delete a custom feature definition while retaining historical results",
        "parameters": [{ "$ref": "#/components/parameters/sourceId" }, { "$ref": "#/components/parameters/featureKey" }],
        "responses": { "200": { "description": "Feature deleted" }, "403": { "description": "Admin required" }, "404": { "description": "Feature or source not found" } }
      }
    },
    "/api/cues/sources/{sourceId}/custom-metrics": {
      "get": {
        "operationId": "listNoxCueCustomMetrics",
        "summary": "List registered custom activity metrics and event status",
        "parameters": [{ "$ref": "#/components/parameters/sourceId" }],
        "responses": { "200": { "description": "Custom metric catalog" }, "403": { "description": "Admin required" } }
      },
      "post": {
        "operationId": "createNoxCueCustomMetric",
        "summary": "Register a custom activity metric before ingest",
        "parameters": [{ "$ref": "#/components/parameters/sourceId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NoxCueCustomMetricInput" } } } },
        "responses": { "201": { "description": "Metric registered" }, "400": { "description": "Invalid custom metric" }, "403": { "description": "Admin required" }, "409": { "description": "Metric key already registered in this scope" } }
      }
    },
    "/api/cues/sources/{sourceId}/custom-metrics/{metricKey}": {
      "put": {
        "operationId": "updateNoxCueCustomMetric",
        "summary": "Rename or pause a registered custom activity metric",
        "parameters": [{ "$ref": "#/components/parameters/sourceId" }, { "$ref": "#/components/parameters/metricKey" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NoxCueCustomMetricUpdate" } } } },
        "responses": { "200": { "description": "Metric updated" }, "403": { "description": "Admin required" }, "404": { "description": "Metric or source not found" } }
      },
      "delete": {
        "operationId": "deleteNoxCueCustomMetric",
        "summary": "Delete a custom metric definition while retaining historical events",
        "parameters": [{ "$ref": "#/components/parameters/sourceId" }, { "$ref": "#/components/parameters/metricKey" }],
        "responses": { "200": { "description": "Metric deleted" }, "403": { "description": "Admin required" }, "404": { "description": "Metric or source not found" } }
      }
    },
    "/api/cues/projects/{projectId}/metrics": {
      "get": {
        "operationId": "getNoxCueProjectMetrics",
        "summary": "List selectable metrics and their active event status for one project",
        "parameters": [{ "$ref": "#/components/parameters/projectId" }],
        "responses": { "200": { "description": "Project metric settings and readiness" } }
      },
      "put": {
        "operationId": "updateNoxCueProjectMetrics",
        "summary": "Choose metrics included in one project's daily report",
        "parameters": [{ "$ref": "#/components/parameters/projectId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NoxCueProjectMetricSelection" } } } },
        "responses": { "200": { "description": "Project metric settings updated" } }
      }
    },
    "/api/cues/metrics": {
      "get": {
        "operationId": "getNoxCueDailyHealth",
        "summary": "Get stored NoxCue-derived user metrics and digest state",
        "parameters": [{ "name": "sourceId", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": { "200": { "description": "Daily user health" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "GitHub OAuth access token" },
      "organization": { "type": "apiKey", "in": "header", "name": "X-Org" }
    },
    "parameters": {
      "provider": { "name": "provider", "in": "path", "required": true, "schema": { "type": "string", "enum": ["github", "slack"] } },
      "projectId": { "name": "projectId", "in": "path", "required": true, "schema": { "type": "string" } },
      "sourceId": { "name": "sourceId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
      "siteId": { "name": "siteId", "in": "path", "required": true, "schema": { "type": "string" } },
      "keyId": { "name": "keyId", "in": "path", "required": true, "schema": { "type": "string" } },
      "featureKey": { "name": "featureKey", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^custom\\.[a-z][a-z0-9_]*(?:\\.[a-z][a-z0-9_]*){0,4}$" } },
      "metricKey": { "name": "metricKey", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^custom\\.[a-z][a-z0-9_]*(?:\\.[a-z][a-z0-9_]*){0,4}$" } }
    },
    "schemas": {
      "SetupPlan": {
        "type": "object",
        "required": ["apiVersion", "complete", "steps"],
        "properties": {
          "apiVersion": { "type": "integer" },
          "complete": { "type": "boolean" },
          "steps": { "type": "object", "additionalProperties": { "$ref": "#/components/schemas/SetupStep" } }
        }
      },
      "SetupStep": {
        "type": "object",
        "required": ["title", "required", "state", "automatable"],
        "properties": {
          "title": { "type": "string" },
          "required": { "type": "boolean" },
          "state": { "type": "string", "enum": ["available", "blocked", "complete"] },
          "automatable": { "type": "boolean" },
          "action": { "type": ["object", "null"] }
        }
      },
      "UserAction": {
        "type": "object",
        "required": ["provider", "status", "userAction", "resume"],
        "properties": {
          "provider": { "type": "string" },
          "status": { "const": "requires_user_action" },
          "userAction": {
            "type": "object",
            "required": ["type", "url", "instructions"],
            "properties": { "type": { "const": "open_url" }, "url": { "type": "string", "format": "uri" }, "instructions": { "type": "string" } }
          },
          "resume": { "type": "object" }
        }
      },
      "StartConnectionBody": {
        "type": "object",
        "properties": {
          "team": {
            "type": ["string", "null"],
            "description": "Slack only: team (workspace) ID like T08B8C3E91N that pins Slack's authorize page to one workspace. An empty string or null leaves the workspace choice to Slack's picker. Omitted pins the organization's currently connected workspace so reconnects can't hop."
          }
        }
      },
      "RoutingPatch": {
        "type": "object",
        "required": ["routes"],
        "properties": {
          "routes": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "fallback": { "type": ["string", "null"] },
              "noxcue": { "type": ["string", "null"] },
              "noxticket": { "type": ["string", "null"] },
              "noxfeed_posts": { "type": ["string", "null"] },
              "noxfeed_release_notes": { "type": ["string", "null"] }
            }
          }
        }
      },
      "RouteTest": {
        "type": "object",
        "required": ["route"],
        "properties": {
          "route": { "type": "string", "enum": ["fallback", "noxcue", "noxticket", "noxfeed_posts", "noxfeed_release_notes"] },
          "channelId": { "type": "string", "maxLength": 80, "description": "Optional candidate channel; otherwise uses saved routing and fallback." }
        }
      },
      "NoxSpotSiteCreate": {
        "type": "object",
        "required": ["name", "projectId"],
        "properties": {
          "name": { "type": "string", "maxLength": 120 },
          "projectId": { "type": "string" },
          "buttonColor": { "type": "string", "pattern": "^#[0-9a-fA-F]{6}$" },
          "buttonText": { "type": "string", "maxLength": 40 },
          "widgetMode": { "type": "string", "enum": ["development", "release"] },
          "autoErrorLogging": { "type": "boolean" }
        }
      },
      "NoxSpotSitePatch": {
        "type": "object",
        "minProperties": 1,
        "properties": {
          "slackChannelId": { "type": ["string", "null"], "maxLength": 80 },
          "slackConnectionId": { "type": ["string", "null"], "maxLength": 120 },
          "buttonColor": { "type": "string", "pattern": "^#[0-9a-fA-F]{6}$" },
          "buttonText": { "type": "string", "maxLength": 40 },
          "widgetMode": { "type": "string", "enum": ["development", "release"] },
          "autoErrorLogging": { "type": "boolean" },
          "environments": { "type": "array", "maxItems": 50, "items": { "$ref": "#/components/schemas/NoxSpotEnvironment" } },
          "blocks": { "type": "array", "maxItems": 30, "items": { "$ref": "#/components/schemas/NoxSpotBlock" } }
        }
      },
      "NoxSpotEnvironment": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name", "url"],
        "properties": {
          "name": { "type": "string", "maxLength": 60 },
          "url": { "type": "string", "maxLength": 500 },
          "buttonColor": { "type": ["string", "null"], "pattern": "^#[0-9a-fA-F]{6}$" },
          "buttonText": { "type": ["string", "null"], "maxLength": 40 },
          "widgetMode": { "type": ["string", "null"], "enum": ["development", "release", null] },
          "enabled": { "type": "boolean" }
        }
      },
      "NoxSpotBlock": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "type"],
        "properties": {
          "id": { "type": "string", "pattern": "^[a-z0-9][a-z0-9-]{0,119}$" },
          "type": { "type": "string", "enum": ["title", "description", "reporter", "contact_email", "custom_text", "custom_textarea", "custom_select", "element_picker", "metadata", "console_logs"] },
          "label": { "type": ["string", "null"], "maxLength": 120 },
          "required": { "type": "boolean" },
          "options": { "type": "array", "maxItems": 30, "items": { "type": "string", "maxLength": 120 } },
          "environments": { "type": "array", "maxItems": 50, "items": { "type": "string", "maxLength": 60 } }
        }
      },
      "NoxSpotReport": {
        "type": "object",
        "required": ["siteId", "title"],
        "properties": {
          "siteId": { "type": "string", "maxLength": 120 },
          "title": { "type": "string", "maxLength": 256 },
          "description": { "type": ["string", "null"], "maxLength": 10000 },
          "reporter": { "type": ["string", "null"], "maxLength": 100 },
          "reporterEmail": { "type": ["string", "null"], "format": "email", "maxLength": 254 },
          "type": { "type": "string", "enum": ["bug", "feature", "feedback"] },
          "environment": { "type": ["string", "null"], "maxLength": 60 },
          "screenshot": { "type": ["string", "null"], "description": "Bounded PNG, JPEG, or WebP data URL" },
          "metadata": { "type": ["object", "null"] },
          "elements": { "type": ["array", "null"], "maxItems": 50, "items": { "type": "object" } },
          "context": { "type": ["object", "null"] },
          "blockValues": { "type": ["object", "null"], "additionalProperties": { "type": "string" } },
          "rating": { "type": ["integer", "null"], "minimum": 1, "maximum": 5 }
        }
      },
      "NoxCueSourceInput": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name", "enabled", "projectId", "timezone", "digestEnabled", "digestTimeLocal", "slackChannelId", "slackConnectionId"],
        "properties": {
          "name": { "type": "string", "maxLength": 120 },
          "enabled": { "type": "boolean" },
          "projectId": { "type": ["string", "null"] },
          "timezone": { "type": "string", "description": "IANA timezone used for completed daily periods." },
          "digestEnabled": { "type": "boolean" },
          "digestTimeLocal": { "type": "string", "pattern": "^(?:[01]\\d|2[0-3]):[0-5]\\d$" },
          "slackChannelId": { "type": ["string", "null"] },
          "slackConnectionId": { "type": ["string", "null"] },
          "allowedOrigins": { "type": "array", "maxItems": 10, "uniqueItems": true, "items": { "type": "string", "format": "uri", "description": "Exact HTTPS origin; localhost HTTP is allowed for development." } },
          "healthEnabled": { "type": "boolean", "default": false },
          "healthUrl": { "type": ["string", "null"], "format": "uri", "maxLength": 2048 }
        }
      },
      "NoxCueCustomFeatureInput": {
        "type": "object",
        "additionalProperties": false,
        "required": ["key", "label", "failureMessage"],
        "properties": {
          "key": { "type": "string", "minLength": 8, "maxLength": 120, "pattern": "^custom\\.[a-z][a-z0-9_]*(?:\\.[a-z][a-z0-9_]*){0,4}$" },
          "label": { "type": "string", "minLength": 1, "maxLength": 80 },
          "failureMessage": { "type": "string", "minLength": 1, "maxLength": 500, "description": "Default user-impact text shown with the actual bounded technical error." }
        }
      },
      "NoxCueCustomFeatureUpdate": {
        "type": "object",
        "additionalProperties": false,
        "required": ["label", "failureMessage", "enabled"],
        "properties": {
          "label": { "type": "string", "minLength": 1, "maxLength": 80 },
          "failureMessage": { "type": "string", "minLength": 1, "maxLength": 500 },
          "enabled": { "type": "boolean" }
        }
      },
      "NoxCueCustomMetricInput": {
        "type": "object",
        "additionalProperties": false,
        "required": ["key", "label"],
        "properties": {
          "key": { "type": "string", "minLength": 8, "maxLength": 120, "pattern": "^custom\\.[a-z][a-z0-9_]*(?:\\.[a-z][a-z0-9_]*){0,4}$" },
          "label": { "type": "string", "minLength": 1, "maxLength": 80 }
        }
      },
      "NoxCueCustomMetricUpdate": {
        "type": "object",
        "additionalProperties": false,
        "required": ["label", "enabled"],
        "properties": {
          "label": { "type": "string", "minLength": 1, "maxLength": 80 },
          "enabled": { "type": "boolean", "description": "Accept new events and include both derived outputs in reports." }
        }
      },
      "ProjectDestination": {
        "type": "object",
        "additionalProperties": false,
        "required": ["connectionId", "channelId"],
        "properties": {
          "connectionId": { "type": "string", "maxLength": 120 },
          "channelId": { "type": "string", "maxLength": 80 }
        }
      },
      "ProjectRoutingInput": {
        "type": "object",
        "additionalProperties": false,
        "required": ["enabled", "repositories", "routes"],
        "properties": {
          "enabled": { "type": "boolean", "description": "Whether this repository-mirror row is explicitly enabled as a NoxConnect routing project" },
          "repositories": { "type": "array", "maxItems": 500, "uniqueItems": true, "items": { "type": "string", "maxLength": 240 } },
          "routes": {
            "type": "object",
            "additionalProperties": false,
            "required": ["noxfeedPosts", "noxfeedReleaseNotes", "noxCue"],
            "properties": {
              "noxfeedPosts": { "$ref": "#/components/schemas/ProjectDestination" },
              "noxfeedReleaseNotes": { "$ref": "#/components/schemas/ProjectDestination" },
              "noxCue": { "$ref": "#/components/schemas/ProjectDestination" }
            }
          }
        }
      },
      "NoxCueProjectMetricSelection": {
        "type": "object",
        "additionalProperties": false,
        "required": ["enabledMetricKeys"],
        "properties": {
          "enabledMetricKeys": {
            "type": "array",
            "minItems": 1,
            "maxItems": 6,
            "uniqueItems": true,
            "items": { "type": "string", "enum": ["users.new", "users.total", "users.active.daily", "users.active.weekly", "users.active.monthly", "users.stickiness.dau_mau"] }
          }
        }
      }
    }
  }
}
